header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header > * {
    width: 12%;
}

.header-txt {
    color: #000;
    text-align: right;
    font: 400 14px Inter, sans-serif;
}

.brand {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: black;
        text-decoration: none;
    }
}