<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-98EDVRLBCB"></script>
<script src="../gtag.js"></script>

<body>
    <div class="playground">
        <header>
            <app-header></app-header>
        </header>
        <div class="title">
            <div class="txt-my">
                P
            </div>
            <div class="txt-section">
                layground
            </div>
        </div>
        <nav [class.display]="displayNav">
            <app-navbar (pageRedirect)="redirectNav($event)"></app-navbar>
        </nav>
        <div class="nav-animation-bar" [class.active]="isAnimationActive" [class.disactive]="!isAnimationActive"></div>
        <div class="info">
            <p class="info-intro">
                Step into my creative haven, where I showcase an eclectic mix of designs, explorations, discarded
                concepts, and everything that hasn't found its spotlight elsewhere. This is my playground, a glimpse
                into the diverse array of creations that make up my personal collection.
            </p>
        </div>
        <p class="fix">I'm currently working on this section, visit me again soon!</p>
        <p class="footer">just an ordinary designer and developer</p>
        <!--<div class="image">
                <img [src]="img" alt="img">
            </div>-->
    </div>
</body>

</html>