body {
    width: 100%;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow: hidden;
}

.playground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

header {
    width: 100%;
}

header,
nav {
    width: 100%;
    align-self: stretch;
    z-index: 5;
}

nav {
    position: absolute;
    opacity: 0;
    transition: opacity 2.0s ease;
}

.display {
    opacity: 1;
}

.nav-animation-bar {
    z-index: 4;
    display: flex;
    align-self: center;
    justify-content: center;
    transition: background 8.5s ease;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.nav-animation-bar::before,
.nav-animation-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: 50% 50%;
    transform: scaleY(0);
    transition: transform 1.6s ease;
}

.nav-animation-bar::before {
    background: linear-gradient(to top, #000 0%, #000 50%, transparent 50%, transparent 100%);
}

.nav-animation-bar::after {
    background: linear-gradient(to bottom, #000 0%, #000 60%, transparent 50%, transparent 100%);
}

.nav-animation-bar.active::before,
.nav-animation-bar.active::after {
    transform: scaleY(1);
}

.nav-animation-bar.disactive::before,
.nav-animation-bar.disactive::after {
    transform: scaleY(0);
}

.title {
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 5%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-my {
    color: #000;
    text-align: center;
    letter-spacing: -9px;
    font: 400 200px 'Shadows Into Light Two', -apple-system, Roboto, Helvetica,
        sans-serif;
}

.txt-section {
    padding-top: 20px;
    color: #000;
    text-align: center;
    letter-spacing: -4.8px;
    white-space: nowrap;
    margin: auto 0;
    font: 400 180px Inter, sans-serif;
}

.info {
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 100%;
    margin-top: 24%;

}

p {
    text-align: center;
    font: 400 24px Inter, sans-serif;
    color: black;
    line-height: 1.5em;
    letter-spacing: 1.5px;
}

.fix {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    font: 400 16px Inter, sans-serif;
    color: black;
}

.footer {
    width: 100%;
    font: 300 14px Inter, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

@media screen and (max-width: 1400px) {
    .title {
        margin-top: 8%;

        .txt-my {
            font-size: 150px;
        }

        .txt-section {
            font-size: 140px;
        }
    }

    p {
        font-size: 18px;
    }

    .info {
        margin-top: 35%;
    }

    .fix {
        margin-top: 3%;
    }
}

@media screen and (max-width: 1740px) {
    p {
        font-size: 20px;
    }

    .info {
        margin-top: 2%;
    }

    .fix {
        margin-top: 3%;
    }
}