<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-98EDVRLBCB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-98EDVRLBCB');
    </script>
</head>

<body>
    <div class="about">
        <header>
            <app-header [isWhite]="true"></app-header>
        </header>
        <nav [class.display]="displayNav">
            <app-navbar [isWhite]="true" (pageRedirect)="redirectNav($event)"></app-navbar>
        </nav>
        <div class="nav-animation-bar" [class.active]="isAnimationActive" [class.disactive]="!isAnimationActive"></div>
        <img class="about-me-img" [src]="aboutMeImg" alt="">
        <div class="content">
            <div class="about-me-descriptions">
                <div class="top-description">
                    <div class="circle"></div>
                    <p>Been immersing into<span class="f-secondary"> PROGRAMMING </span>and<span class="f-secondary">
                            TECH </span>for over 5 years, I'm currently based in Málaga, Spain</p>
                </div>
                <div class="bottom-description">
                    <p>I<span class="f-secondary"> LIKE </span>to<span class="f-secondary"> CREATE IDEAS </span>and
                        carry projects from scratch into<span class="f-secondary"> MEMORABLE CREATIONS. </span></p>
                </div>
            </div>
            <div class="skills-display">
                <div class="top-skills-display">
                    <ng-container *ngFor="let skill of topSkillsDisplay">
                        <p>{{ skill }}</p>
                    </ng-container>
                </div>
                <div class="bottom-skills-display">
                    <ng-container *ngFor="let skill of hardSkillsDisplay">
                        <p>{{ skill }}</p>
                    </ng-container>
                </div>
            </div>
            <!--<app-the-process></app-the-process>-->
            <div class="footer">
                <div class="cv-content">
                    <p>anything else...?</p>
                    <a [href]="cv" download="SolAndradeCV.pdf" class="cv-button">
                        here is my CV, take a look!
                    </a>
                </div>
                <div class="contact-content" [routerLink]="['/contact']">
                    <p>let's create together :)</p>
                    <div class="contact-button">
                        contact me
                    </div>
                </div>
            </div>
        </div>
        <p class="eop">just an ordinary designer and developer</p>
    </div>
</body>

</html>