<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>

<body>
    <div class="about">
        <header>
            <app-header></app-header>
        </header>
        <div class="title">
            <div class="txt-my">
                About
            </div>
            <div class="txt-section">
                Me
            </div>
        </div>
        <nav>
            <app-navbar></app-navbar>
        </nav>
        <p class="fix">I'm currently working on this section, visit me again soon!</p>
        <p class="footer">just an ordinary designer</p>
    </div>
</body>

</html>