<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-98EDVRLBCB"></script>
<script src="../gtag.js"></script>

<body>
    <!--<div class="transition">
        <div class="title-transition">
            <div class="txt-my-transition">
                W
            </div>
            <div class="txt-section-transition">
                orks
            </div>
        </div>
    </div>-->
    <div class="works">
        <header>
            <app-header></app-header>
        </header>
        <div class="title">
            <div class="txt-my">
                {{ titleBegin }}
            </div>
            <div class="txt-section">
                {{ titleEnd }}
            </div>
        </div>
        <nav [class.display]="displayNav">
            <app-navbar (pageRedirect)="redirectNav($event)"></app-navbar>
        </nav>
        <div class="nav-animation-bar" [class.active]="isAnimationActive"></div>
        <div class="works-index">
            <div class="works-nav">
                <p class="works-year-txt" (click)="updateDisplay(2023)" [ngClass]="{ 'selected': year === 2023 }">2023</p>
                <!--<p class="works-year-txt" (click)="updateDisplay(2022)" [ngClass]="{ 'selected': year === 2022 }">2022</p>-->
            </div>
            <div class="works-year" *ngIf="year === 2023">
                <div class="works-preview" id="works-preview" (mouseout)="handleUnhover()">
                    <div *ngFor="let project of projects2023" class="work-preview-item">
                        <a [routerLink]="['/projects', project.titleHeading]">
                            <img loading="lazy" [src]="project.previewImg" class="img"
                                id="{{ 'img' + project.titleHeading}}"
                                (mouseover)="handleHover('img' + project.titleHeading)" />
                        </a>
                    </div>
                    <div class="projects-nbr">{{ projects2023.length }} projects</div>
                </div>
            </div>
            <div class="works-year" *ngIf="year === 2022">
                <div class="works-preview" id="works-preview" (mouseout)="handleUnhover()">
                    <div *ngFor="let project of projects2022" class="work-preview-item">
                        <a [routerLink]="['/projects', project.titleHeading]">
                            <img loading="lazy" [src]="project.previewImg" class="img"
                                id="{{ 'img' + project.titleHeading}}"
                                (mouseover)="handleHover('img' + project.titleHeading)" />
                        </a>
                    </div>
                    <div class="projects-nbr">{{ projects2022.length }} projects</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>