body {
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow: hidden;
}

.works {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
}

header,
nav {
    width: 100%;
    align-self: stretch;
    z-index: 5;
}

nav {
    position: absolute;
    z-index: 5;
    opacity: 0;
    transition: opacity 2.0s ease;
}

.display {
    opacity: 1;
}

.nav-animation-bar {
    z-index: 3;
    display: flex;
    align-self: center;
    justify-content: center;
    transition: background 8.5s ease;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.nav-animation-bar::before,
.nav-animation-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: 50% 50%;
    transform: scaleY(0);
    transition: transform 1.6s ease;
}

.nav-animation-bar::before {
    background: linear-gradient(to top, #000 0%, #000 50%, transparent 50%, transparent 100%);
}

.nav-animation-bar::after {
    background: linear-gradient(to bottom, #000 0%, #000 60%, transparent 50%, transparent 100%);
}

.nav-animation-bar.active::before,
.nav-animation-bar.active::after {
    transform: scaleY(1);
    z-index: 5;
}

.nav-animation-bar.disactive::before,
.nav-animation-bar.disactive::after {
    transform: scaleY(0);
}

.layerProjects {
    z-index: 3;
}

.title {
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 5%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .txt-my {
        color: #000;
        text-align: center;
        letter-spacing: -9px;
        font: 400 200px 'Shadows Into Light Two', -apple-system, Roboto, Helvetica,
            sans-serif;
    }

    .txt-section {
        padding-top: 20px;
        color: #000;
        text-align: center;
        letter-spacing: -4.8px;
        white-space: nowrap;
        margin: auto 0;
        font: 400 180px Inter, sans-serif;
    }
}

.works-index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    bottom: 0;
    position: absolute;
    z-index: 0;

    .works-nav {
        display: flex;
        gap: 20px;

        .works-year-txt {
            font: 400 16px Inter, sans-serif;
            color: #6c6c6c;
        }

        .selected {
            color: black;
            font-weight: 500;
        }
    }

    .works-year {
        align-self: left;
        margin-bottom: 10px;
        padding: 0;
        position: relative;
    }

    .works-preview {
        margin: 0;
    }
}


.works-preview {
    align-self: stretch;
    display: flex;
    height: auto;
    padding: 0;
}

.work-preview-item {
    display: flex;
    margin-left: 0px;
    margin-right: 20px;
}

.img {
    object-fit: contain;
    object-position: top;
    overflow: hidden;
    width: 280px;
    height: auto;
    transition: filter 0.5s ease;
}

.grayscale {
    filter: grayscale(100%);
}

.projects-nbr {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    color: var(--home-nav-section-nbr, #6c6c6c);
    align-self: stretch;
    white-space: nowrap;
    font: 300 16px Inter, sans-serif;
}

@media screen and (max-width: 1400px) {
    .title {
        margin-top: 8%;

        .txt-my {
            font-size: 150px;
        }

        .txt-section {
            font-size: 140px;
        }
    }

    .img {
        width: 220px;
    }
}

@media screen and (max-width: 1740px) {
    .title {
        margin-top: 6%;

        .txt-my {
            font-size: 170px;
        }

        .txt-section {
            font-size: 130px;
        }
    }
}