@media screen and (max-width: 1740px) {
    .title {
        margin-top: 6%;

        .txt-my {
            font-size: 160px;
        }

        .txt-section {
            font-size: 120px;
        }
    }

    nav {
        top: 40%;
    }
}

@media screen and (max-width: 1400px) {
    .title {
        margin-top: 8%;

        .txt-my {
            font-size: 150px;
        }

        .txt-section {
            font-size: 140px;
        }
    }

    .img {
        width: 220px;
    }
}


@media screen and (max-width: 1280px) {
    .title {
        margin-top: 6%;

        .txt-my {
            font-size: 140px;
        }

        .txt-section {
            font-size: 120px;
        }
    }

    .img {
        width: 200px;
    }
}
