<body>
    <nav id="nav">
        <ul class="nav-list" id="nav-list">
            <li class="nav-item" id="nav-item-work">
                <a href="/portfolio/works" class="nav-link">
                    <div class="nav-item-number">01</div>
                    <div class="nav-item-title">Works</div>
                </a>
                <div class="title">
                    <div class="txt-start">
                        <span>W</span>
                    </div>
                    <div class="txt-end">
                        <span>o</span>
                        <span>r</span>
                        <span>k</span>
                        <span>s</span>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="/portfolio/about" class="nav-link">
                    <div class="nav-item-number">02</div>
                    <div class="nav-item-title">About</div>
                </a>
                <div class="title">
                    <div class="txt-start">
                        <span>A</span>
                    </div>
                    <div class="txt-end">
                        <span>b</span>
                        <span>o</span>
                        <span>u</span>
                        <span>t</span>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="/portfolio/playground" class="nav-link">
                    <div class="nav-item-number">03</div>
                    <div class="nav-item-title">Playground</div>
                </a>
                <div class="title">
                    <div class="txt-start">
                        <span>P</span>
                    </div>
                    <div class="txt-end">
                        <span>l</span>
                        <span>a</span>
                        <span>y</span>
                        <span>g</span>
                        <span>r</span>
                        <span>o</span>
                        <span>u</span>
                        <span>n</span>
                        <span>d</span>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="/portfolio/contact" class="nav-link">
                    <div class="nav-item-number">04</div>
                    <div class="nav-item-title">Contact</div>
                </a>
                <div class="title">
                    <div class="txt-start">
                        <span>C</span>
                    </div>
                    <div class="txt-end">
                        <span>o</span>
                        <span>n</span>
                        <span>t</span>
                        <span>a</span>
                        <span>c</span>
                        <span>t</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="nav-copyright">©2023</div>
    </nav>
</body>