<body>
    <nav id="nav" [ngClass]="{'navHidden': textShown}">
        <ul class="nav-list" id="nav-list">
            <li class="nav-item" [ngClass]="{'titleShown': textShown === '/works'}">
                <a (click)="emitRedirection('/works')" class="nav-link">
                    <div class="nav-item-number" *ngIf="!isWhite">01</div>
                    <div class="nav-item-number-white" *ngIf="isWhite">01</div>
                    <div class="nav-item-title" *ngIf="!isWhite">Works</div>
                    <div class="nav-item-title-white" *ngIf="isWhite">Works</div>
                </a>
                <div class="title">
                    <div class="txt-start">
                        <span>W</span>
                    </div>
                    <div class="txt-end">
                        <span>o</span>
                        <span>r</span>
                        <span>k</span>
                        <span>s</span>
                    </div>
                </div>
            </li>
            <li class="nav-item" [ngClass]="{'titleShown': textShown === '/about'}" [ngClass]="{'hideTitle': hideTitle}">
                <!--<a [routerLink]="['/about']" class="nav-link">-->
                <a class="nav-link" (click)="emitRedirection('/about')">
                    <div class="nav-item-number" *ngIf="!isWhite">02</div>
                    <div class="nav-item-number-white" *ngIf="isWhite">02</div>
                    <div class="nav-item-title" *ngIf="!isWhite">About</div>
                    <div class="nav-item-title-white" *ngIf="isWhite">About</div>
                </a>
                <div class="title">
                    <div class="txt-start">
                        <span>A</span>
                    </div>
                    <div class="txt-end">
                        <span>b</span>
                        <span>o</span>
                        <span>u</span>
                        <span>t</span>
                    </div>
                </div>
            </li>
            <li class="nav-item" [ngClass]="{'titleShown': textShown === '/playground'}">
                <a (click)="emitRedirection('/playground')" class="nav-link">
                    <div class="nav-item-number" *ngIf="!isWhite">03</div>
                    <div class="nav-item-number-white" *ngIf="isWhite">03</div>
                    <div class="nav-item-title" *ngIf="!isWhite">Playground</div>
                    <div class="nav-item-title-white" *ngIf="isWhite">Playground</div>
                </a>
                <div class="title">
                    <div class="txt-start">
                        <span>P</span>
                    </div>
                    <div class="txt-end">
                        <span>l</span>
                        <span>a</span>
                        <span>y</span>
                        <span>g</span>
                        <span>r</span>
                        <span>o</span>
                        <span>u</span>
                        <span>n</span>
                        <span>d</span>
                    </div>
                </div>
            </li>
            <li class="nav-item" [ngClass]="{'titleShown': textShown === '/contact'}">
                <a (click)="emitRedirection('/contact')" class="nav-link">
                    <div class="nav-item-number" *ngIf="!isWhite">04</div>
                    <div class="nav-item-number-white" *ngIf="isWhite">04</div>
                    <div class="nav-item-title" *ngIf="!isWhite">Contact</div>
                    <div class="nav-item-title-white" *ngIf="isWhite">Contact</div>
                </a>
                <div class="title">
                    <div class="txt-start">
                        <span>C</span>
                    </div>
                    <div class="txt-end">
                        <span>o</span>
                        <span>n</span>
                        <span>t</span>
                        <span>a</span>
                        <span>c</span>
                        <span>t</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="nav-copyright">©2024</div>
    </nav>
</body>