<body>
    <nav id="nav">
        <ul class="nav-list" id="nav-list" (mouseout)="handleUnhover()">
            <li class="nav-item" id="nav-item-work" (mouseenter)="onNavItemHover('nav-item-work')">
                <a href="/works" class="nav-link">
                    <div class="nav-item-number">01</div>
                    <div class="nav-item-title">Works</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">
                    <div class="nav-item-number">02</div>
                    <div class="nav-item-title">About</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/playground" class="nav-link">
                    <div class="nav-item-number">03</div>
                    <div class="nav-item-title">Playground</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">
                    <div class="nav-item-number">04</div>
                    <div class="nav-item-title">Contact</div>
                </a>
            </li>
        </ul>
        <div class="nav-copyright">©2023</div>
    </nav>
</body>