<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>a</title>
</head>

<body>
  <div class="project" *ngIf="project">
    <header>
      <app-header></app-header>
    </header>
    <nav [@navbarAnimation]="navbarState">
      <app-navbar (pageRedirect)="redirectNav($event)"></app-navbar>
    </nav>
    <div class="nav-buttons">
      <a [ngClass]="{'disabled': currentImageIndex === 0}" (click)="changeImage(-1)">
        <img [src]="navLeftButton" alt="">
      </a>
      <a [routerLink]="['/works']">
        <img [src]="navExitButton" alt="">
      </a>
      <a [ngClass]="{'disabled': currentImageIndex === project.images.length - 1}" (click)="changeImage(1)">
        <img [src]="navRightButton" alt="">
      </a>
    </div>
    <section class="scrolled-view">
      <section class="main-view">
        <div class="main-project-details" *ngIf="showMainInfo === true">
          <div class="title">
            <div class="title-heading">
              <p>{{ project.titleHeading }}</p>
            </div>
            <div class="title-subheading">
              <p>{{ project.titleSubheading }}</p>
            </div>
          </div>
          <section class="project-details">
            <img [src]="projectLogo" alt="Project Logo">
            <section class="project-details-info">
              <div class="detail-section">
                <p class="detail-type">Client:</p>
                <p class="detail-info">{{ project.client }}</p>
              </div>
              <div class="detail-section">
                <p class="detail-type">Year:</p>
                <p class="detail-info">{{ project.year }}</p>
              </div>
              <div *ngIf="project.type !== ''" class="detail-section">
                <p class="detail-type">Type:</p>
                <p class="detail-info">{{ project.type }}</p>
              </div>
              <div class="detail-section">
                <p class="detail-type">Role:</p>
                <p class="detail-info">{{ project.role }}</p>
                <a [href]="project.link" target="_blank" *ngIf="project.link">Visit site</a>
              </div>
            </section>
          </section>
        </div>
        <div class="project-description" *ngIf="projectDescriptionTxt">
          <p>
            <img [src]="initDot" alt="init-dot">
            {{ project.projectDescription }}
          </p>
        </div>
        <div class="project-description" *ngIf="projectRoleDescriptionTxt">
          <p>
            <img [src]="initDot" alt="init-dot">
            {{ project.projectRoleDescription }}
          </p>
        </div>
        <section class="project-images" *ngIf="projectImages.length > 0">
          <div [@imageSlide]="currentImageIndex" class="images" [ngClass]="{ 'active': currentImageIndex >= 0 }">
            <img *ngIf="currentImageIndex >= 0" [src]="projectImages[currentImageIndex]" alt="image">
          </div>
        </section>
      </section>
    </section>
  </div>
</body>

</html>