body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
}

.project {
    display: flex;
    flex-direction: column;
}

header,
nav {
    position: fixed;
    z-index: 5;
    align-self: stretch;
    width: 100%;
}

nav {
    top: 35%;
}

.nav-buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    gap: 30px;
    margin-bottom: 30px;
    z-index: 3;
}

.disabled {
    pointer-events: none;
    filter: grayscale(80%);
    opacity: 0.5;
}

.title {
    margin-top: 60px;
    text-align: left;
    padding: 10px;
}

.main-view {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.main-project-details {
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.title {
    padding-left: 50px;
}

.title-heading p {
    font: 400 110px 'Shadows Into Light Two', -apple-system, Roboto, Helvetica,
        sans-serif;
    margin: 0;
}

.title-subheading {
    margin-top: -40px;
}

.title-subheading p {
    letter-spacing: -4.8px;
    white-space: nowrap;
    font: 500 80px Inter, sans-serif;
    margin: 0;
}

.project-description,
.project-images {
    transition: transform 1300ms ease-in-out;
}

.project-details img {
    max-height: 250px;
    margin-top: 30px;
}

.project-details {
    padding: 0px 50px;
    height: 100%;
    margin-top: 26%;

    .detail-section p {
        margin: 0;
    }

    .detail-section {
        display: flex;
        margin: 20px 0;

        .detail-type {
            font: 400 16px Inter, sans-serif;
            color: #979797;
            width: 90px;
        }

        .detail-info {
            font: 400 16px Inter, sans-serif;
        }
    }

    .detail-section a {
        margin-left: 30px;
        font: 300 16px Inter, sans-serif;
        color: black;
        text-decoration: none;
        font-style: italic;
    }
}

.project-images {
    display: flex;
    justify-content: flex-end;
    right: 0;
}

.images img {
    width: 50vw;
    height: 100vh;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.project-description {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.project-description p {
    width: 80%;
    text-align: justify;
    font: 400 25px Inter, sans-serif;
    line-height: 1.3em;
}

.project-description img {
    width: 20px;
    height: 20px;
    margin-right: 7em;
}

.nav-animation-bar {
    z-index: 3;
    display: flex;
    align-self: center;
    justify-content: center;
    transition: background 8.5s ease;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.nav-animation-bar::before,
.nav-animation-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: 50% 50%;
    transform: scaleY(0);
    transition: transform 1.6s ease;
}

.nav-animation-bar::before {
    background: linear-gradient(to top, #000 0%, #000 50%, transparent 50%, transparent 100%);
}

.nav-animation-bar::after {
    background: linear-gradient(to bottom, #000 0%, #000 60%, transparent 50%, transparent 100%);
}

.nav-animation-bar.active::before,
.nav-animation-bar.active::after {
    transform: scaleY(1);
}

.nav-animation-bar.active {
    z-index: 6;
}

nav.active {
    z-index: 7;
}

.nav-animation-bar.disactive::before,
.nav-animation-bar.disactive::after {
    transform: scaleY(0);
}

.nav-buttons.active,
.main-project-details.active {
    z-index: 5;
}