<section class="nav">
  <div class="item" (click)="emitRedirection('/works')">
    <div class="item-nbr">01</div>
    <div class="item-title">
      <p class="item-title-txt"><span class="item-title-begin">W</span>orks</p>
    </div>
  </div>
  <div class="item" (click)="emitRedirection('/about')">
    <div class="item-nbr">02</div>
    <div class="item-title">
      <p class="item-title-txt"><span class="item-title-begin">A</span>bout</p>
    </div>
  </div>
  <div class="item" (click)="emitRedirection('/playground')">
    <div class="item-nbr">03</div>
    <div class="item-title">
      <p class="item-title-txt"><span class="item-title-begin">P</span>layground</p>
    </div>
  </div>
  <div class="item" (click)="emitRedirection('/contact')">
    <div class="item-nbr">04</div>
    <div class="item-title">
      <p class="item-title-txt"><span class="item-title-begin">C</span>ontact</p>
    </div>
  </div>
</section>