<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-98EDVRLBCB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-98EDVRLBCB');
    </script>
</head>

<body>
  <div class="home">
    <header>
      <app-header></app-header>
    </header>
    <div class="title">
      <div class="txt-my">
        Sol
      </div>
      <div class="txt-section">
        Andrade
      </div>
    </div>
    <nav>
      <app-navbar (pageRedirect)="redirectNav($event)"></app-navbar>
    </nav>
    <img [src]="pixel"/>
    <div class="nav-animation-bar" [class.active]="isAnimationActive"></div>
    <div class="image">
      <!--<img loading="lazy" src="../../assets/img/main-pfp.png" class="img"/>-->
      <img loading="lazy" [src]="img" class="img"/>
    </div>
    <p class="footer">just an ordinary designer and developer</p>
  </div>
  <div class="mobile-responsive">
    <p>yep, I'm currently working on <span class="f-secondary">mobile responsive,</span> it will be better if you open it in your computer, please :)</p>
  </div>
</body>

</html>