<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <div class="home">
    <header>
      <app-header></app-header>
    </header>
    <div class="title">
      <div class="txt-my">
        Sol
      </div>
      <div class="txt-section">
        Andrade
      </div>
    </div>
    <nav>
      <app-navbar></app-navbar>
    </nav>
    <div class="image">
      <img loading="lazy" src="../../assets/img/main-pfp.png" class="img"/>
    </div>
    <p class="footer">just an ordinary designer</p>
  </div>
</body>

</html>