body {
  width: 100%;
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  max-height: 100%;
  overflow: hidden;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

header {
  width: 100%;
}

header,
nav {
  width: 100%;
  align-self: stretch;
}

nav {
  z-index: 4;
  position: absolute;
}

.title {
  gap: 20px;
  display: flex;
  margin-top: 20px;

  .txt-my {
    color: #000;
    text-align: center;
    letter-spacing: -9px;
    font: 400 200px 'Shadows Into Light Two', -apple-system, Roboto, Helvetica,
      sans-serif;
  }

  .txt-section {
    padding-top: 20px;
    color: #000;
    text-align: center;
    letter-spacing: -4.8px;
    white-space: nowrap;
    margin: auto 0;
    font: 400 180px Inter, sans-serif;
  }
}

.image {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 3%;
}

.image img {
  width: 450px;
  height: auto;
  z-index: 1;
}

.footer {
  width: 100%;
  font: 300 14px Inter, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.nav-animation-bar {
  z-index: 3;
  display: flex;
  align-self: center;
  justify-content: center;
  transition: background 8.5s ease;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.nav-animation-bar::before,
.nav-animation-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 50% 50%;
  transform: scaleY(0);
  transition: transform 1.6s ease;
}

.nav-animation-bar::before {
  background: linear-gradient(to top, #000 0%, #000 50%, transparent 50%, transparent 100%);
}

.nav-animation-bar::after {
  background: linear-gradient(to bottom, #000 0%, #000 60%, transparent 50%, transparent 100%);
}

.nav-animation-bar.active::before,
.nav-animation-bar.active::after {
  transform: scaleY(1);
}

@media screen and (max-width: 1400px) {
  .title {
    margin-top: 0px;

    .txt-my {
      font-size: 150px;
    }

    .txt-section {
      font-size: 140px;
    }
  }

  .image img {
    width: 350px;
  }

  .mobile-responsive {
    opacity: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 1740px) {
  .title {
    margin-top: 0px;

    .txt-my {
      font-size: 180px;
    }

    .txt-section {
      font-size: 160px;
    }
  }

  .image img {
    width: 380px;
  }
}


@media screen and (max-width: 991px) {
  .mobile-responsive {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-responsive p {
    padding: 0 20px;
    color: #EBEBEB;
    text-align: center;
    margin: auto 0;
    font: 400 24px Inter, sans-serif;
  }

  .f-secondary {
    text-align: center;
    font: 400 26px 'Shadows Into Light Two', -apple-system, Roboto, Helvetica,
      sans-serif;
  }
}