@media screen and (min-width: 1740px) {
    .title {
        margin-top: 0px;

        .txt-my {
            font-size: 180px;
        }

        .txt-section {
            font-size: 160px;
        }
    }

    .image img {
        width: 400px;
    }
}

@media screen and (max-width: 1740px) {
    .title {
        margin-top: 0px;

        .txt-my {
            font-size: 160px;
        }

        .txt-section {
            font-size: 140px;
        }
    }

    .image img {
        width: 350px;
    }
}

@media screen and (max-width: 1440px) {
    .title {
        margin-top: 0px;

        .txt-my {
            font-size: 150px;
        }

        .txt-section {
            font-size: 140px;
        }
    }

    .image img {
        width: 350px;
    }
}


@media screen and (max-width: 1280px) {
    .title {
        margin-top: 0px;

        .txt-my {
            font-size: 140px;
        }

        .txt-section {
            font-size: 120px;
        }
    }

    .image img {
        width: 320px;
    }
}

@media screen and (min-width: 990px) {
    .mobile-responsive {
        opacity: 0;
        z-index: -1;
    }
}


@media screen and (max-width: 990px) {
    header {
        z-index: 4;
    }
    
    .nav-animation-bar {
        display: none;
    }

    .title {
        flex-direction: column;

        .txt-my {
            font-size: 120px;
        }

        .txt-section {
            font-size: 70px;
            margin-top: -70px;
        }
    }

    nav {
        display: none;
    }

    .fact {
        display: flex;
        position: absolute;
        text-align: center;
        font: 400 18px Inter, sans-serif;
        margin: 0 40px;
    }

    .image {
        margin-bottom: 140px;        
    }
    
    .image img {
        width: 300px;
    }

    .footer {
        margin-bottom: 70px;
    }

}

@media screen and (max-height: 850px) and (max-width: 400px) {
    .title {
        .txt-my {
            font-size: 100px;
        }

        .txt-section {
            font-size: 70px;
        }
    }


    .image {
        margin-bottom: 120px;
    }

    .image img {
        width: 280px;
    }
}

@media screen and (max-height: 750px) and (max-width: 400px) {
    .title {
        .txt-my {
            font-size: 90px;
        }

        .txt-section {
            font-size: 70px;
        }
    }

    .fact {
        font-size: 16px;
    }

    .image img {
        width: 250px;
    }
}
